.controlpanel{
    width:25rem;
    margin:0 auto 0.5rem auto;
    border:rgb(119, 252, 119) 2.5px solid;
    background-color: rgb(119, 252, 119);
}

.controlpanel form{
    margin-left:auto;
    margin-right:auto;
    padding-top:1rem;
    width:15rem;
    display:flex;
    flex-direction: column;
}

.controlpanel label{
    text-align:left;
    font-size:15px;
    font-weight:bold;
    margin-bottom:0.5rem;
}

.controlpanel select{
    margin-bottom:1rem;
}

.controlpanel input{
    margin-bottom:1rem;
}

.runbutton{
    width:7.5rem;
    margin-top:1.25rem;
    margin-left:auto;
    margin-right:auto;
}

.slider{
  appearance: none;
  width: 100%;
  height: 15px;
  background: #61341a;
  outline:none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 25px;
    background: #2c99ff;
    border:yellow 2px solid;
    cursor: pointer;
}



